.terminal-container {
    position: relative;
    background-color: #151515;
    color: #fff; 
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #1a1b1a; 
    max-width: 800px;
    margin: 50px auto;
    
}

.terminal-header {
    padding: 10px;
    border-bottom: 1px solid #000000;
    text-align: center; 
    background-color: #3b3737;

}

.terminal-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.guess-container {
    max-width: 50%;
    flex: 1;
    padding-right: 20px;
}

.leaderboard-container {
    max-width: 50%;
    flex: 1;
}

.command-line {
    color: rgb(115, 148, 82);
    display: inline-block; 
}

.command-line .content {
    color: #fff; 
}

.leaderboard-list li span {
    color: #fff;
}

.custom-input {
    background: none; 
    border: none; 
    color: #fff;
    
}

.custom-input:hover,
.custom-input:focus {
    border: none; 
    outline: none;
}


